.index-body {
    background-color:#080F2C;
    height: 100vh;
    width: 100%;
}

.nav{
    width:20%;
    background-color: #48BF91;
    height: 100%;
}
.nav h1 h5 h6 a button{
    width:30%;
}
h1,h5,h6{
    color: #ffffff;
}

.X{
    color:#000000 !important;
    font-weight: lighter;
}
.N{
    background: linear-gradient(180deg, #DB883B 0%, rgba(215, 174, 136, 0) 100%);
    border-radius: 45%;

}

.X:hover{
background: linear-gradient(180deg, #DB883B 0%, rgba(215, 174, 136, 0) 100%);
border-radius: 45%;

}
#v-pills-tabContent{
    position: absolute;
    top:0%;
    left:20%;
    width: 80%;
    height: 100%;
}

.department-name{
    margin-left:10%;
    color:#ffffff;
    font-weight:100;
}

.Emp-cards{

width: 187px;
height: 134px;
background: #0D1841;
border-radius: 15px;
}

.Emp-cards:hover{
   cursor: pointer;
   transform: scale(1.06);
   color: #ffffff;
}


.emp-card-content{
    color: #ffffff;
    font-weight: lighter;
    font-family: Roboto;
    font-style: normal;
    line-height: 35px;
    text-align: center;
    align-items: center;
    font-size: large;
    padding-top: 5%;
}

.A{
    color: #ffffff;
    text-decoration: none;
}
