.signin-body {
    background-color:#080F2C;
    height: 100vh;
    width: 100%;
}

.index-body{
    background-color:#080F2C;
}

.form-c{
    background-color:#48BF91 ;
    padding: 5%;
    width: 50%;
    position: center;
    margin:0 auto;
}

h1{
    color: #fff;
    text-align: center;
}